:root {
    --font: tewi;
    --light-font-color: #E0CEED;
    --light-background-color: #29222E;
    --dark-font-color: #E0CEED;
    --dark-background-color: #29222E;
    --blockquote-background: #1D161F;
    --link-color: #d8aee4;
    --link-decoration-color: #d8aee4;
}

@media(prefers-color-scheme:dark) {
    :root {
        --font-color: var(--dark-font-color);
        --background-color: var(--dark-background-color);
    }
}

@media(prefers-color-scheme:light) {
    :root {
        --font-color: var(--light-font-color);
        --background-color: var(--light-background-color);
    }
}

@font-face {
    font-family: tewi;
    src: url("/fonts/tewi.ttf");
}

html {
    font-family: var(--font);
    color: var(--font-color);
    background-color: var(--background-color);
}

body {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

blockquote, pre {
    /* margin: 1rem -1rem; */
    padding: 1rem;
    background-color: var(--blockquote-background);
    border-left: 3px solid var(--link-decoration-color);
}

pre[alt^="ASCII-BLOCK"] {
    background-color: var(--background-color);
    border-left: 0px;
}

pre[alt^="PRE"] {
    background-color: var(--background-color);
    border-left: 0px;
    padding: 0rem
}


pre {
    overflow-x: auto;
    font-family: var(--font);

}

ul, li {
    margin-left: 0;
    padding: 0;
}

li:not(:last-child) {
    margin-bottom: 0.5rem;
}

a {
    position: relative;
    color: var(--link-color);
}

a:before {
    content: '⇒';
    color: var(--link-decoration-color);
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: -1.25rem;
}

details, 
details:not([open]) summary,
details:not([open]) summary a {
    color: var(--details-color);
}

details summary a:before {
    display: none;
}

dl dt {
    font-weight: bold;
}

dl dt:not(:first-child) {
    margin-top: 0.5rem;
}

label, dl dt {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}